
<div class="row double-inner blog-heading"><h1>Community Blog</h1></div>
<div class="unit col1of3">
  <% @blogs_all.each do |blog| %>
  <h2><%= blog.title %></h2>
  <% end %>
</div>

<div class="unit col1of2">
  <% @blogs_all.each do |blog| %>
  <div class="each-blog">
    <div class="row">
      <div class="blog-title"><%=blog.title%></div>
    </div>
    <div class="row">
      <div class="para1"><%=blog.para1%>...</div>
    </div>
    <div class="row">
      <div class="blog-author"><%=blog.author%></div>
    </div>
  </div>
<% end %>
</div>
