<div class="row">
  <div class="unit col1of3 some-height"></div>
  <div class="unit col1of3">
  <div class="row vertical-double-inner">
    <h1>Admin Sign Up</h1>
  </div>
  <div class="row">
    <%= render 'shared/error_messages' %>
  </div>
  <%= render 'form' %>
</div>
<div class="unit col1of3"></div>
</div>