<div class="row">
  <% if @admin.errors.any? %>
    <div class="alert">
      This form contains <%= pluralize(@admin.errors.count, "error") %>
    </div>

    <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li> *<%= msg %> </li>
      <% end %>
    </ul>
  <% end %>
</div>