<div class="main-container">
<%= render 'layouts/header' %>
<%= render 'layouts/navigation' %>
<div class="row main-content">
  <div class="indi-box">
    <h2>Mission</h2>
    <p>Our main Mission at Women Who Code is to inspire women to pursue and Excel in technology careers</p>
  </div>

  <div class="indi-box">
    <h2>Ruby Study Group</h2>
    <p>Welcome to Ruby Study Group where you will meet like minded women learning and excelling in Ruby. Our Organizers are here to help you with ruby related questions.</p>
  </div>

  
</div>
</div>
</div>
