<div class="row double-inner">
  <div class="row inner">
    <%= image_tag("main-image.jpg") %>
  </div>
  <div class="row inner">
    <div class="unit col1of2">
      <h1>Who We are?</h1>
      <p class="inner"><%= @about.mission %></p>
    </div>
  </div>
</div>



