

.main-container {
  background-color: #fff;
  width: 1090px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding-top: 40px;

}

.header-container {
  background-color: #00B6AA;
  position: fixed;
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }

  a:hover {
    background-color: gray;
  }
}

.main-content {
  width: 1060px;
  height: 815px;
}

.blog-wrapper {
  margin: 40px;
}

.blog-title {
  font-size: 28px;
  font-family: 'Helvetica Nueue';
  line-height: 1.5;
}

.blog-author {
  text-align: right;
}

.each-blog {
  border-bottom: 1px solid gray;
}

.nav-blog {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
}

.recent-posts {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Helvetica Nueue';
  font-style: italic;
  color: #008066;
}