.logo img {
  width: 150px;
}

.main-container {
  background-color: #fff;
  width: 1020px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.header-container {
  background-color: #00B6AA;
}

.main-content {
  width: 1020px;
  height: 815px;
}

#header {
  min-height: 130px;
}

.blog-wrapper {
  margin: 40px;
}

.blog-title {
  font-size: 28px;
  font-family: 'sans-serif';
  line-height: 1.5;
}

.blog-heading {
  font-size: 32px;
  border-bottom: 1px solid gray;
}

.each-blog {
  border-bottom: 1px solid gray;
  padding: 20px;
}
