.row {
  width: 100%;
  overflow: hidden;
}

.unit {
  float: left;
}

.unit-right {
  float: right;
}

.inner {
  padding: 10px;
  overflow: hidden;
}

.double-inner {
  padding: 20px;
  overflow: hidden;
}

.vertical-inner {
  padding: 10px 0;
}

.bottom-inner {
  padding: 0 0 20px 0;
}

.vertical-double-inner {
  padding: 20px 0;
}

.vertical-big-inner {
  padding: 50px 0;
}

.vertical-half-inner {
  padding: 5px 0;
}

.horizontal-inner {
  padding: 0 10px;
}

.horizontal-double-inner {
  padding: 0 20px;
}

.top-inner {
  padding-top: 10px;
}

.col1of1 {
  float: none;
}

.col1of2 {
  width: 50%;
}

.col1of3 {
  width: 33.33333%;
}

.col2of3 {
  width: 66.66666%;
}

.col1of4 {
  width: 25%;
}

.col3of4 {
  width: 75%;
}

.col1of5 {
  width: 20%;
}

.col2of5 {
  width: 40%;
}

.col3of5 {
  width: 60%;
}

.col4of5 {
  width: 80%;
}

.col1of10 {
  width: 10%;
}

.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
}

.some-height {
  height: 10px;
}
