  <div class="row header-container">
    <div class="unit col1of3 horizontal-double-inner vertical-inner">
      <h1>WOMEN WHO CODE</h1>
    </div>
    <div class="unit col1of3 f-right double-inner">
      <a href="/">About</a>
      <a href="/blogs">Blogs</a>
      <a href="/community">Community</a>
      <a href="#">Donate</a>
    </div>
  </div>
  
