  <div class="row header-container">
    <div class="unit col1of5 logo double-inner" id="wwc-pic">
      <%= image_tag("logo.png") %>
    </div>

    <div class="unit col1of5 some-height"></div>
    <div class="unit col1of10 vertical-big-inner"><a href="/">About</a></div>
    <div class="unit col1of10 vertical-big-inner"><a href="/blogs">Blogs</a></div>
    <div class="unit col1of10 vertical-big-inner"><a href="/involvement">Involvement</a></div>
    <div class="unit col1of10 vertical-big-inner"><a href="/success">Success Stories</a></div>
  </div>

