<div class="row" id="header">
  <div class="logo unit col4of5">
    <div class="row">
      <div class="unit col1of5" id="wwc-pic">
        <%= image_tag("logo.png") %>
      </div>

      <div class="lastUnit" id="tagline">
        <h1>Women Who Code</h1>
      </div>
    </div>
  </div>

  <div class="lastUnit">
  </div>
</div>