  <div class="row header-container">
    <div class="unit col1of5 logo double-inner" id="wwc-pic">
      <%= image_tag("logo.png") %>
    </div>

    <div class="unit col1of5 some-height"></div>
    <div class="unit col1of10 vertical-big-inner">About</div>
    <div class="unit col1of10 vertical-big-inner">Blogs</div>
    <div class="unit col1of10 vertical-big-inner">Success Stories</div>
    <div class="unit col1of10 vertical-big-inner">Involvement</div>
  </div>

