<div class="row" id="navigation">
  <div class="unit col1of10 nav-item">About</div>
  <div class="unit col1of10 nav-item">Sprints</div>
  <div class="unit col1of10 nav-item">Resources</div>
  <div class="unit col1of10 nav-item">Involvement</div>
  <div class="lastUnit"></div>
</div>